<!-- ***** Home Parallax Start ***** -->
<section class="mini" id="work-process">
    <div class="mini-content">
        <div class="container">
            <div class="row">
                <div class="offset-lg-3 col-lg-6">
                    <div class="info">
                        <h1>¿Cómo trabajamos?</h1>
                        <p>Junto a nuestros expertos podemos apoyarte en todo el proceso de trabajo en tu proyecto.</p>
                    </div>
                </div>
            </div>

            <!-- ***** Mini Box Start ***** -->
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-6 col-6" id="ideas">
                    <a href="#" class="mini-box">
                        <i><img src="assets/images/conversation.png" alt=""></i>
                        <strong>Cuéntanos sobre tu negocio.</strong>
                        <span>Tus reglas y requisitos.</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="assets/images/idea.png" alt=""></i>
                        <strong>Proponemos un plan <br> ideal.</strong>
                        <span>Nuestra solución y costo.</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="assets/images/prototype.png" alt=""></i>
                        <strong>Elaboramos un prototipo adecuado.</strong>
                        <span>Diseño y desarrollo.</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="assets/images/revise.png" alt=""></i>
                        <strong>Revisamos junto<br> a ti.</strong>
                        <span>Afinamos<br> detalles.</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="assets/images/approve.png" alt=""></i>
                        <strong>Apruebas nuestro proyecto.</strong>
                        <span>Das tu visto bueno.</span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                    <a href="#" class="mini-box">
                        <i><img src="assets/images/launch.png" alt=""></i>
                        <strong>Lanzamos tu proyecto!</strong>
                        <span>Inicia la nueva era en tu negocio.</span>
                    </a>
                </div>
            </div>
            <!-- ***** Mini Box End ***** -->
        </div>
    </div>
</section>
<!-- ***** Home Parallax End ***** -->