<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky" >
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="#" class="logo">
                        <img src="assets/images/logo.png" alt="Weforyou" />
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="#welcome" class="active">Home</a></li>
                        <li><a href="#features">Sobre Nosotros</a></li>
                        <li><a href="#work-process">¿Cómo trabajamos?</a></li>
                        <!--<li><a href="#testimonials">Testimonials</a></li>-->
                        <li><a href="#pricing-plans">Planes y Costos</a></li>
                        <!--<li><a href="#blog">Blog</a></li>-->
                        <li><a href="#contact-us">Échanos un mail</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                    <h1>Somos un estudio <br>que te ofrece la mejor <strong>estrategia digital</strong><br>para crecer tu <strong>negocio</strong>
                    <p>Integramos el ambiente digital entre tu negocio y tus clientes.</p></h1>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->